<!DOCTYPE html>
<html>
<head>
	<title>fooder</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

</head>
<body>

<h1>{{day.date}}</h1>
<h1>{{day.weekday}}</h1>
<h3>week : {{day.week_number}}</h3>
{% if day.weekday in ["Monday", "Friday", "Wednesday"] %}
    <h2>Готуємо вечерю ! </h2>
{% elif day.weekday in ["Tuesday", "Thursday"] %}
	<h2>Готуємо cуп ! </h2>
{% endif %}

<h2>lunch : </h2>
{% for dish in day.lunch %}
	<a href="/dish/{{dish.name}}"><h3>{{dish.name}}</h3></a>
{% endfor %}

<h2>dinner : </h2>
{% for dish in day.dinner %}
	<a href="/dish/{{dish.name}}"><h3>{{dish.name}}</h3></a>
{% endfor %}


<form action="/list/{{day.date}}" >
<button >Сформувати список</button>
</form>

<form action="/menu/{{day.date}}" >
<button >Menu for this week</button>
</form>


<form action="/1" >
<button >Monday</button>
</form>
<form action="/2" >
<button >Tuesday </button>
</form>
<form action="/3" >
<button >Wednesday </button>
</form>
<form action="/4" >
<button >Thursday </button>
</form>
<form action="/5" >
<button >Friday </button>
</form>
<form action="/6" >
<button >Saturday </button>
</form>
<form action="/7" >
<button >Sunday  </button>
</form>

<form action="/" >
<button >На сьогодні</button>
</form>



<form action="/dish/add" >
<button >Додати блюдо</button>
</form>







</body>
</html>
